* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: pink
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .section {
    padding: 60px 20px;
    /* text-align: center; */
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .home-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-top: 40px;
  }
  